version: "3.9"

services:
  php:
    build:
      context: ./docker/php
    container_name: vetshop-php
    volumes:
      - ./src:/var/www/html
    env_file:
      - .env
    depends_on:
      - db

  nginx:
    build:
      context: ./docker/nginx
    container_name: vetshop-nginx
    ports:
      - "${APP_PORT}:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - php

  db:
    image: mysql:8.0
    container_name: vetshop-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3308:3308"
    volumes:
      - vetshop_data:/var/lib/mysql
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: vetshop-phpmyadmin
    restart: always
    environment:
      PMA_HOST: db
      PMA_USER: ${MYSQL_USER}
      PMA_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "${PHPMYADMIN_PORT}:80"
    depends_on:
      - db

volumes:
  vetshop_data:
